body {
  margin: auto;
}



  nav {
    max-width: 75rem;
    margin: auto;
    li {
      width: 10%;
    }
  }

  // div.headerWrapper {
    
  // }

  header {
    max-width: 75rem;
    margin: auto;
  }

  .heroMedium {
    display: none;
  }
  
  .heroSmall {
    display: none;
  }

  .heroLarge {
    display: block;
    width: 100%;
  }

  main {
    margin: auto;
    max-width: 75rem;
  }