  nav {
    li {
      width: 15%;
    }
  }

  div.headerWrapper {
    background-image: url(../images/medium.jpg);
  }

  header {
    
    height: 389px;
  }

  i {
    margin: 2% 5%; 
    font-size: 3rem;
  }