  nav {
    li {
      width: 15%;
    }
  }

  // div.headerWrapper {
    
  // }

  .heroSmall {
    display: none;
  }
  
  .heroLarge {
    display: none;
  }

  .heroMedium {
    display: block;
    width: 100%;
  }